.section-title {
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--hotel-dark);
}

.hotel-card {
  border-radius: 18px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}


.table thead {
  background-color: var(--hotel-gray);
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.table th {
  padding: 1.2rem;
  border-bottom: 2px solid var(--hotel-border);
}

.table td {
  padding: 1.2rem;
  color: #46766d;
}

.btn-hotel-primary {
  background-color: var(--hotel-dark);
  color: rgb(239, 36, 161);
  border-radius: 8px;
  padding: 10px 24px;
  transition: all 0.3s;
}

.btn-action {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid var(--hotel-border);
  background: rgb(192, 226, 148);
}

.btn {
  border: none;
  color: rgb(121, 123, 249);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flex;
}

.badge {
  color: rgb(78, 102, 142);
  font-size: 16px
}

.main-content {
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.342), rgba(161, 107, 107, 0.726)),
    url("https://images.unsplash.com/photo-1551882547-ff40c63fe5fa");
  background-size: cover;
  background-position: center;
}

.table tbody tr:hover {
  background: rgba(255, 255, 255, 0.08);
  transition: 0.3s ease;
}

.badge {
  border-radius: 20px;
  font-weight: 500;
  letter-spacing: .5px;
}

.section-title {
  font-weight: 300;
  letter-spacing: 2px;
}